    {{ form.id.label }} 
    {{ form.id(class="form-control") }}

    {{ form.nickname.label }} 
    {{ form.nickname(class="form-control") }}

    {{ form.description.label }} 
    {{ form.description(class="form-control") }}

    {{ form.brand.label }} 
    {{ form.brand(class="form-control") }}

    {{ form.model.label }} 
    {{ form.model(class="form-control") }}

    {{ form.voltage.label }} 
    {{ form.voltage(class="form-control") }}

    {{ form.amperage.label }} 
    {{ form.amperage(class="form-control") }}

    {{ form.serie.label }} 
    {{ form.serie(class="form-control") }}

    {{ form.id_line.label }} 
    {{ form.id_line(class="form-control") }}

    {{ form.manufacturing_date.label }} 
    {{ form.manufacturing_date(class="form-control") }}

    {{ form.instalation_date.label }} 
    {{ form.instalation_date(class="form-control") }}

    {{ form.id_supplier.label }} 
    {{ form.id_supplier(class="form-control") }}

    {{ form.run_date.label }} 
    {{ form.run_date(class="form-control") }}

    {{ form.file.label }} 
    {{ form.file(class="form-control") }}

    {{ form.csrf_token }}

    <br>
