{% extends 'layout/base_plots.html' %}

{% block content %}

<div class="jumbotron">
    <div>
        <h1 class="display-4"> <img src="{{ url_for('static',filename="/uploads/"+machine.file)}}" height="150">{{ machine['nickname'] }}</h1>
    </div>

<table class="blueTable">
    <thead>
        <tr>
            <th>Element</th>
            <th>Data</th>
        </tr>
        </thead> 
    <tbody>
        <tr>
            <td>Id</td>
            <td>{{machine.id}}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{machine.description}}</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>{{machine.brand}}</td>
        </tr>
        <tr>
            <td>Model</td>
            <td>{{machine.model}}</td>
        </tr>
        <tr>
            <td>Voltage</td>
            <td>{{machine.voltage}}</td>
        </tr>
        <tr>
            <td>Amperage</td>
            <td>{{machine.amperage}}</td>
        </tr>
        <tr>
            <td>Serie</td>
            <td>{{machine.serie}}</td>
        </tr>
        <tr>
            <td>Id line</td>
            <td>{{machine.id_line}}</td>
        </tr>
        <tr>
            <td>Manufacturing date</td>
            <td>{{machine.manufacturing_date}}</td>
        </tr>
        <tr>
            <td>Instalation datge</td>
            <td>{{machine.instalation_date}}</td>
        </tr>
        <tr>
            <td>Id supplier</td>
            <td>{{machine.id_supplier}}</td>
        </tr>
        <tr>
            <td>Run date</td>
            <td>{{machine.run_date}}</td>
        </tr>

    </tbody>
  </table>
  </div>


{% endblock %}