{% extends 'layout/base.html' %}

{% block content %}

<div class="jumbotron borde">
  <h1 class="display-4">Basic data historical system</h1>
  <p class="lead">This system show the data recorded by PLCs</p>
  <hr class="my-4">

  {% if current_user.id_role.value != 'Administrador' %}
    <a class="list-group-item list-group-item-action list-group-item-light p-3 borde" href="{{ url_for('control.panel') }}"><h1>Control</h1></a>
  {% endif %}

  {% if current_user.id_role.value == 'Administrador' %}
    <a class="list-group-item list-group-item-action list-group-item-light p-3 borde" href="{{ url_for('control.panel') }}"><h1>Control</h1></a>
    <br>  
    <a class="list-group-item list-group-item-action list-group-item-light p-3 borde" href="{{ url_for('machine.info_all') }}"><h1>Maquinas</h1></a>
    <br>
    <a class="list-group-item list-group-item-action list-group-item-light p-3 borde" href="{{ url_for('part.part_info_all') }}"><h1>Piezas</h1></a>
    <br>
    <a class="list-group-item list-group-item-action list-group-item-light p-3 borde" href="{{ url_for('fauth.users_info_all') }}"><h1>Usuarios</h1></a>
  {% endif %}
</div>

{% endblock %}