    {{ form.id.label }} 
    {{ form.id(class="form-control") }}

    {{ form.namepart.label }} 
    {{ form.namepart(class="form-control") }}

    {{ form.id_machine.label }} 
    {{ form.id_machine(class="form-control") }}

    {{ form.timestamp.label }} 
    {{ form.timestamp(class="form-control") }}

    {{ form.status.label }} 
    <select class="form-control" name="status" id="status">
        <option value="OK">OK</option>
        <option value="NOK">NOK</option>
    </select>

    {{ form.working_time.label }} 
    {{ form.working_time(class="form-control") }}

    {{ form.file.label }} 
    {{ form.file(class="form-control") }}

    {{ form.csrf_token }}

    <br>
