{% extends 'layout/base.html' %}

{% block content %}

<div class="jumbotron">
    <h2> Ingresa los datos solicitados </h2>
   <form action="{{ url_for('fauth.register')}}" method= "POST">

            {{ form.fullname.label }} 
            {{ form.fullname(class="form-control") }}

            {{ form.id_employee.label }} 
            {{ form.id_employee(class="form-control") }}

            {{ form.id_role.label }} 
            {{ form.id_role(class="form-control") }}

            {{ form.username.label }} 
            {{ form.username(class="form-control") }}

            {{ form.password.label }} 
            {{ form.password(class="form-control") }}

            {{ form.confirm.label }} 
            {{ form.confirm(class="form-control") }}

            {{ form.csrf_token }}
            
       <input class="btn btn-success" type="submit" value="Enviar">
   </form>
</div>

{% endblock %}