{% extends 'layout/base_plots.html' %}

{% block content %}

<a data-toggle="tooltip" data-placement="top" data-title="Registrar" class="btn btn-primary" href="{{ url_for('machine.machine_register') }}">Registrar maquina</a>

      
        {%  for machine in machines%}
        <!-- Page content-->
        <div class="jumbotron">
            <div>
                <h1 class="display-4"> <img src="{{ url_for('static',filename="/uploads/"+machine.file)}}" height="150"> <a href="{{ url_for('machine.show', id=machine['id']) }}">
                  {{ machine['nickname'] }}
                </a></h1>
                <a data-toggle="tooltip" data-placement="top" data-title="Editar" class="btn btn-success btn-sm" href="{{ url_for('machine.machine_update', id=machine['id']) }}"><i class="fa fa-edit"></i></a>
                <a data-toggle="tooltip" data-placement="top" data-title="Eliminar" class="btn btn-danger btn-sm" href="{{ url_for('machine.machine_delete', id=machine['id']) }}"><i class="fa fa-trash"></i></a>

            </div>
          <table class="blueTable"> 
            <thead>
            <tr>
                <th>Element</th>
                <th>Data</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Description</td>
                    <td>{{machine.description}}</td>
                </tr>
                <tr>
                    <td>Voltage</td>
                    <td>{{machine.voltage}}</td>
                </tr>
                <tr>
                    <td>Amperage</td>
                    <td>{{machine.amperage}}</td>
                </tr>
                <tr>
                    <td>Id line</td>
                    <td>{{machine.id_line}}</td>
                </tr>
                <tr>
                    <td>Run date</td>
                    <td>{{machine.run_date}}</td>
                </tr>
            </tbody>
          </table>
        </div>
        {% endfor %}
        
    </div>
    
</div>

<script>
    window.addEventListener('DOMContentLoaded', event => {

// Toggle the side navigation
const sidebarToggle = document.body.querySelector('#sidebarToggle');
if (sidebarToggle) {
    // Uncomment Below to persist sidebar toggle between refreshes
    // if (localStorage.getItem('sb|sidebar-toggle') === 'true') {
    //     document.body.classList.toggle('sb-sidenav-toggled');
    // }
    sidebarToggle.addEventListener('click', event => {
        console.log("ENTRO")
        event.preventDefault();
        document.body.classList.toggle('sb-sidenav-toggled');
        localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
    });
}

});

</script>

{% endblock %}