{% extends 'layout/base.html' %}

{% block content %}
<div class="jumbotron">
    <div class="form-small">
        <h3 class="text-center mb-4 text-primary"><i class="fa fa-user fa-3x"></i></h3>
        <h2 class="text-center">Login</h3>
    <form action="{{ url_for('fauth.login')}}" method= "POST">
        
                {{ form.username.label }} 
                {{ form.username(class="form-control") }}

                {{ form.password.label }} 
                {{ form.password(class="form-control") }}

                <br>

                {{ form.csrf_token }}

                {{ form.next() }}
                
            <div class="clearfix">
                <input class="btn btn-success float-right" type="submit" value="Enviar">
            </div>
    </form>
    </div>
</div>

   <script>
       var params=new URLSearchParams(window.location.search)
       if(params.has("next"))
            document.getElementById("next").value = params.get("next")
        console.log(document.getElementById("next").value)
   </script>

{% endblock %}