{% extends 'layout/base.html' %}

{% block content %}

<div class="jumbotron">
    <h2> Ingresa los datos solicitados </h2>
   <form action="{{ url_for('fauth.register')}}" method= "POST">

            {{ form.username.label }} 
            {{ form.username(class="form-control") }}

            {{ form.fullname.label }} 
            {{ form.fullname(class="form-control") }}

            {{ form.id_employee.label }} 
            {{ form.id_employee(class="form-control") }}

            {{ form.id_role.label }} 
            <select class="form-control" name="id_role" id="id_role">
                <option value="admin">Administrador</option>
                <option value="operador">Operador</option>
                <option value="linea">Encargado de linea</option>
                <option value="mtto">Mantenimiento</option>
            </select>

            {{ form.password.label }} 
            {{ form.password(class="form-control") }}

            {{ form.confirm.label }} 
            {{ form.confirm(class="form-control") }}

            <br>

            {{ form.csrf_token }}
            
       <input class="btn btn-success" type="submit" value="Enviar">
   </form>
</div>

{% endblock %}